<style>
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid black;
}
</style>


<div class="container">
	<div class="row"  style="color:white">
<div class="col-sm-5">
Welcome,<h4 id="drivername"></h4></div>
<a href="/" class="btn btn-success" ng-click="LogoutUser()" style="margin-top: 10px;margin-left:22%;">LogOut</a>


<div class="col-sm-5">
  long:<p id="geoposition" style="color:white"></p>
  latt:<p id="geoposition123" style="color:white"></p>
  sock:<p id="getSocket"></p>

</div>

  </div>


  <div class="row">
    <!-- message:<input type"text" id="message"> -->
    Customer Deatils:<p id="container" style="color:white"></p>

<div class="col-sm-5">
  <button type="button" class="btn btn-info btn-block"ng-click="viewCustomers()" >Your Bookings</button>
</div>
<div class="col-sm-5">
  <button type="button" class="btn btn-info btn-block" ng-click="viewDetails()" >Your Details</button>
</div>

  </div>

	<div class="row">
    <div class="col-sm-10">
<div ng-show="driverAccount" style="color:white;padding:10px;background-color:black">
  <div ng-repeat="d in DriverDe">
    <div class="table-responsive">
      <table class="table" style="width: 50%">
         <caption><h3 style="margin-left: 17%;color:yellow">Your Details</h3></caption>

          <tr>
            <th>Name</th>
            <td>{{d.FirstName}}</td>
          </tr>
          <tr>
            <th>Driver ID</th>
            <td>{{d.Did}}</td>
          </tr>
          <tr>
            <th>Age</th>
            <td>{{d.age}} Years</td>
          </tr>
          <tr>
            <th>Mobile no</th>
            <td>{{d.Mobile}}</td>
          </tr>
          <tr>
            <th>Licence No</th>
            <td>{{d.licence}}</td>
          </tr>
          <tr>
            <th>Car Type</th>
            <td>{{d.drtype}}</td>
          </tr>
          <tr>
            <th>Car Name</th>
            <td>{{d.Car}}</td>
          </tr>
          <tr>
            <th>Car No</th>
            <td>{{d.carNo}}</td>
          </tr>

      </table>
      </div>

</div>

    </div>
<div ng-show="customerbooks">

  <!-- <div ng-repeat="as in CustomerDe">
    <table>
  <tr><th>BookingID</th><td>  {{as.customerId}}</td></tr>
  <tr><th>Name</th><td>  {{as.name}}</td></tr>
  <tr><th>MobileNo</th><td>  {{as.mobile}}</td></tr>
  <tr><th>Source</th><td>  {{as.sourcePlace}}</td></tr>
  <tr><th>Destination</th><td>  {{as.DesinationPlace}}</td></tr>
  <tr><th>LandMark1</th><td>  {{as.Landmark1}}</td></tr>
  <tr><th>LandMark2</th><td>  {{as.Landmark2}}</td></tr>
  <tr><th>PickDate</th><td>  {{as.pickdate}}</td></tr>
  <tr><th>PIckTime</th><td>  {{as.pickTime}}</td></tr>
  </table></div>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalBill">Generate Bill</button>
  <div class="modal fade" id="myModalBill" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Bill</h4>
        </div>
        <div class="modal-body">
          <div ng-repeat="as in CustomerDe">
    <table>
      <tr><th>DriverID</th><td>  <p id="didn">{{as.dId}}</p></td></tr>
      <tr><th>BookingID</th><td> <p  id="cdi"> {{as.customerId}}</p></td></tr>
      <tr><th>Name</th><td> <p id="name"> {{as.name}}</p></td></tr>
      <tr><th>MobileNo</th><td> <p id="mblno"> {{as.mobile}}</p></td></tr>
      <tr><th>Source</th><td><p  id="srce">  {{as.sourcePlace}}</p></td></tr>
      <tr><th>Destination</th><td> <p  id="dest"> {{as.DesinationPlace}}</p></td></tr>
      <tr><th>Date</th><td> <p  id="dy"> {{as.pickdate}}</p></td></tr>
     <tr><th>Date</th><td> <p  id="tme"> {{as.pickTime}}</p></td></tr>
  </table>
        </div>
        <div ng-repeat="t in typeDe">
          <table>
          <tr><th>Car Type</th><td> <p> {{t.CrTp}}</p></td></tr>
          <tr><th>Base Fare</th><td> <p> {{t.Amount}}</p> .Rs</td></tr>
          <tr><th>Offer Kmts</th><td> <p> {{t.Free}}</p>.KM </td></tr>
          <tr><th>Amount Till off.Kmts</th><td> <p> {{t.till}} </p>.Rs</td></tr>
          <tr><th>Amount after off.Kmts</th><td>  <p>{{t.after}}</p> .Rs</td></tr>
          </table>
          <div>
            <div ng-repeat="as in CustomerDe"><table><td>TotalAmount</td><td><p id="amnt">{{as.amount}}</p> .Rs</td></table></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="addBill()"  data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div></div></div>

</div>
  </div> -->
</div>
</div>
